:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish: hsl(303, 10%, 53%);
    --ligh-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --font-size: 15px;
    --font-family: 'Spartan', sans-serif;
    --font-light: 400;
    --font-regular: 500;
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    background-image: url("../images/bg-pattern-bottom-desktop.svg"), url("../images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, top left;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
}

.topo {
    display: flex;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    margin: 10px;
}

.descriptionTitle {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.descriptionTitle h1{
    font-size: 3em;
    font-weight: var(--font-bold);
    color: var(--very-dark-magenta);
}
.descriptionText {
    width: 100%;
    height: 100%;
    padding: 0 20px 0;
}
.descriptionText p {
    color: var(--very-dark-magenta);
}
.ratings {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
}

.rating:nth-child(2){
    align-self: center;
    
}
.rating:nth-child(3){
    align-self: flex-end;
}
.star {
    margin-right: 10px;
    margin-left: 20px;
}
.star img {
    padding: 0 5px 0;
}
.rating {
    display: flex;
    width: 80%;
    height: 80%;    
    margin: 10px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--ligh-grayish-magenta);
    text-align: center;
    font-weight: var(--font-bold);
    color: var(--very-dark-magenta);   
    
}
.rating .star {
    padding-left: 5px;
    padding-right: 5px;
}
.comments {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
}

.comment:nth-child(1){
    align-self: flex-start;
}
.comment:nth-child(2){
    align-self: center;
}
.comment:nth-child(3){
    align-self: flex-end;
}

.comment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    width: 70%;
    height: 70%;
    margin: 20px;
    background-color: var(--very-dark-magenta);
    border-radius: 15px;
    padding: 40px;
    color: var(--white);
}
.comment header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}
.comment header .picture{
    height: 100%;
    width: 100%;
    align-content: center;
}

.comment header .picture img{
    border-radius: 100px;

}
.comment header .name{
    height: 100%;
    width: 100%;
    margin-left: 20px;
    padding-top: 20px;
    font-weight: var(--font-bold);
}
.comment header .name .verified{
    font-weight: var(--font-light);
    color: var(--soft-pink);
}

.comment .message{
    padding-top: 30px;
    height: 100%;
    width: 100%;
    font-weight: var(--font-light);
}
